<style type="text/css">
	#questionContainer{
		padding: 20px;
	}
	span{
		color: red;
	}
</style>


<div ng-controller="QuestionController" id='questionContainer'>
	<!-- Dashboard -->
	<a href="#/dashboard"><input type="submit" value="Home"></a> 

	<!-- Log out -->
	<a href="#/"><input type="submit" value="Log Out"></a> 


	<h4>{{ this_user[0] }}, want to ask a question?</h4>
	<input type='hidden' ng-value='new_Question.user_name=this_user[0]'>

	<h1>New Question</h1>

	<form name="myForm">
		<h4>Question</h4>

		<label>
			<textarea rows="4" cols="30" name="question" ng-model="new_Question.question" ng-minlength="10"></textarea>
		</label>

		<!-- Alert for question -->
		<div role="alert">
			<span class="error" ng-show="myForm.question.$error.minlength">Too short, needs to be more then 10 characters!</span>
		</div>

		<h4>Description</h4>
		<label>
			<textarea rows="4" cols="30" name="details" ng-model="new_Question.detail"></textarea>
		</label>

		<!-- Cancel -->
		<a href="#/dashboard"><input type="submit" value="Cancel"></a>

		<!-- Submit -->
		<a href="#/dashboard"><input type="submit" value="Submit" ng-click="addQuestion()"></a>


	</form>


</div>
