<style type="text/css">
	#answerContainer{
		padding: 20px;
	}
	span{
		color: red;
	}
</style>


<div ng-controller="QuestionController" id='answerContainer'>
	<!-- Log out -->
	<a href="#/"><input type="submit" value="Log Out"></a> 

	<!-- Link to Ask a Question -->
	<a href="#/question"><input type="submit" value="Add a Question"></a> 


	<h1>Answer this: {{ thisQuestion.question }}</h1>
	<h4>{{ thisQuestion.detail }}</h4>

	<form name="myForm">
		<h4>Your Answer</h4>
		
		<input type='hidden' ng-value='new_answer.user_name=this_user[0]'>
		<input type='hidden' ng-value="new_answer.questionID=thisQuestion._id">

		<label>
			<textarea rows="4" cols="30" name="answer" ng-model="new_answer.answer" ng-minlength="5"></textarea>
		</label>

		<!-- Alert for answer -->
		<div role="alert">
			<span class="error" ng-show="myForm.answer.$error.minlength">Too short, needs to be more then 5 characters!</span>
		</div>

		<h4>Supporting Detail</h4>
		<label>
			<textarea rows="4" cols="30" name="supportingdetails" ng-model="new_answer.support_detail"></textarea>
		</label>

		<br>

		<!-- Cancel -->
		<a href="#/dashboard"><input type="submit" value="Cancel"></a>

		<!-- Submit -->
		<a href="#/dashboard"><input type="submit" value="Submit" ng-click="addAnswer()"></a>


	</form>




</div>
